*{
    margin: 0;
    /* background-color: #dde5e7; */
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./stethoscope.png);
    background-repeat: no-repeat;
    background-size: 800px 600px;
    background-color:  #dde5e7 ;
    background-position: center;
    background-position: 45vb 20vh;
}

nav{
    display: flex;
    margin: 3% 0% 2% 3% ;
}
 .logo {
    margin-left: 5%;
 }
.menu-list {
    padding-left: 60%;
}
.menu-list ul {
    display: flex;
    margin-left: -45%;
}
.menu-list ul li {
    list-style: none;
    padding: 10px 30px 5px 5px;
}

.menu-list ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
    transition:  all 0.5s ease-out;
}

.menu-list  li :hover {
    font-size: 20px;
    /* background-color: #f0f4f5; */

}

main {
    margin-left: 9%;
    display: flex;
    align-items: center;
}

.left{
    margin-top: 6%;
}
.start {
    width: 50px;
    height: 50px;
}



.left h1{
    font-size: 47px;
    padding-left: 30px;
    font-weight: bolder;
    background-color: none;
}

.left p {
    padding-top: 15px;
    padding-left: 30px;
    color: rgb(125, 124, 124);
}

.left button {
    margin-top: -45%;
    padding-left: 35px;
    width: 250px;
    height: 50px;
    background: rgb(34,188,126);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: larger;
}

.end {
    margin-left: 55%;
    width: 50px;
    height: 50px;
}

.mouse {
    margin: 0% 100%;
    width: 50px;
    height: 50px;
}

.under , .back , .doctor
{   
    position: absolute;
    margin-top: 6%;
    padding-left: 8%;
}

.under{
    padding-left: 190px;
    width: 30%;
    bottom: 2px;
    right: -25px;
}

.back {
    padding-left: 158px;
    width: 35%;
    bottom: 30px;
}

.doctor {
    padding-left: 100px;
    width: 40%;
    bottom: 0;
    height: 90%;
  }
